body{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;

}
h2{
	text-align: center;
	font-size: 2em;
}
.test{
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
	width: 6em;
	height: 6em;
	border:2px solid #000;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50%);
	color: snow;

}
#color{
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate( -50%, -50%);
}
button{
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate( -50%, -50%);
}