@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body
{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: #000;
}
.texto-animado
{
    color:snow;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #222;
    padding: 0 40px;
    height: 60px;
    overflow: hidden;
}

.line
{
    text-shadow: 2px 2px 10px magenta;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
    line-height: 60px;
}
.line:first-child{
    animation: anim 6s infinite;
}

@keyframes anim {
    0%{
        margin-top: 0;
    }
    25%{
        margin-top: -60px;
    }
    50%{
        margin-top: -120px;
    }
    75%{
        margin-top: -180px;
    }
    100%{
        margin-top: 0;
    }
    
}